
#Header {
  @include gradient-x($header-bg, $header-bg-end);

  & > .container-fluid {
    justify-content: start;

    .navbar-brand {
      padding: 0;
      display: flex;
      margin: 0 0 0 -12px;
      width: $sidebar-width;
      justify-content: center;

      .logo { width: 120px; }
    }
  }

  &.collapsed {
    .navbar-brand {
      width: $sidebar-collapsed-width;

      .logo { width: 32px; }
    }
  }
}
