
@mixin layoutWithAnimation () {
  @include transition(#{"width .2s cubic-bezier(0.35, 0, 0.25, 1), translate .2s cubic-bezier(0.35, 0, 0.25, 1)"});
}

#Layout {
  $content-bg:                    transparent;
  $sidebar-width:                 232px;
  $sidebar-collapsed-width:       64px;
  $header-height:                 55px;
  $header-bg:                     $light; // #156F93
  $header-bg-end:                 $primary-light;

  @import 'user-menu';
  @import 'sidebar';
  @import 'header';

  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: manipulation;
  -ms-touch-action: manipulation;

  #menu, #content {
    float: left;
    overflow: hidden;
    position: relative;
    @include layoutWithAnimation();
    -webkit-overflow-scrolling: touch; // draw a divider for the sidebar
    .hide-scroll-bar {
      height: 100%;
      position: relative;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-right: 21px;
      margin-right: -21px;
      scrollbar-gutter: stable;
      width: calc(100% + 21px);
    }
  }

  #content, #menu { height: calc(100vh - #{$header-height}); }

  #content {
    overflow-y: auto;
    background-color: $content-bg;
    box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.12);
  }

  #menu { width: $sidebar-width; }
  #content { width: calc(100% - #{$sidebar-width}); }

  &.collapsed {
    #menu { width: $sidebar-collapsed-width; }
    #content { width: calc(100% - #{$sidebar-collapsed-width}); }
    @include media-breakpoint-down(sm) {
      #content { width: 100%; }
      #menu { width: 0; }
    }
  }
  /* when screen less than md expanded menu will should not disturb content */
  @include media-breakpoint-down(sm) {
    #menu { z-index: 100; position: absolute; }
  }
  &.expanded {
    @include media-breakpoint-down(sm) {
      #content { width: 100%; }
    }
  }
}
