
// variables including "react-pro-sidebar"
$sidebar-bg-color:              #343A40;
$sidebar-color:                 lighten($primary, 20%);
//$sidebar-color:                 $white;
//$sidebar-width:                 232px;
//$sidebar-collapsed-width:       64px;
$highlight-color:               $white;
//$highlight-color:               lighten($primary, 15%);
$submenu-bg-color:              lighten($sidebar-bg-color, 10%);
$submenu-bg-color-collapsed:    lighten($submenu-bg-color, 4%);
$icon-bg-color:                 darken($sidebar-bg-color, 10%);
$icon-size:                     32px;
@import '~react-pro-sidebar/dist/scss/styles.scss';

#Sidebar {
  $highlight-border-width: 7px;

  .pro-icon { font-size: 22px; }
  .pro-inner-item { padding-left: 12px; }

  .pro-menu {
    margin-bottom: 100px;

    &-item {
      font-weight: bold;
      font-size: $font-size-base;
      border-left: $highlight-border-width solid transparent;

      &.active {
        background-color: $highlight-color !important;
        border-left: $highlight-border-width solid $sidebar-color;

        .pro-item-content {
          color: invert($highlight-color) !important;
          * { color: invert($highlight-color) !important; }
        }
      }

      &.pro-sub-menu {

        .pro-inner-list-item {

          .pro-menu-item {
            border-left: none;
            background-color: $submenu-bg-color;

            &.active {
              background-color: $highlight-color !important;
              border-right: $highlight-border-width solid $sidebar-color;
            }

            .pro-inner-item {

              &:before { display: none; }

              & > .pro-icon-wrapper {
                display: block !important;
              }
            }
          }
        }
      }
    }
  }
}
