<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <meta name="theme-color" content="#000000"> -->
        <!--
            manifest.json provides metadata used when your web app is added to the
            homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
        -->
        <base href="<%= PUBLIC_URL %>">
        <link rel="manifest" href="<%= PUBLIC_URL %>manifest.json">
        <link rel="shortcut icon" href="<%= PUBLIC_URL %>favicon.ico?v=1">
        <!--
            Notice the use of %PUBLIC_URL% in the tags above.
            It will be replaced with the URL of the `public` folder during the build.
            Only files inside the `public` folder can be referenced from the HTML.

            Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
            work correctly both with client-side routing and a non-root public URL.
            Learn how to configure a non-root public URL by running `npm run build`.
        -->
        <title> RAD Admin Dummy </title>
    </head>
    <body>
        <noscript> You need to enable JavaScript to run this app. </noscript>
        <div id="root">
            <!-- preloader app initializing loading -->
            <div class="app-preloader" style="height: 100vh">
                <div id="SPW">
                    <div id="SP_1" class="sp"></div> <div id="SP_2" class="sp"></div> <div id="SP_3" class="sp"></div> <div id="SP_4" class="sp"></div>
                    <div id="SP_5" class="sp"></div> <div id="SP_6" class="sp"></div> <div id="SP_7" class="sp"></div> <div id="SP_8" class="sp"></div>
                </div>
            </div>
        </div>
    </body>
</html>
