
#NotFound {
  min-height: 100%;
  background-color: $white;

  .content-holder {
    display: flex;
    font-size: 36px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(md) {
      font-size: 28px;
    }

    .title {
      font-size: 4em;
      font-weight: 400;
      line-height: 0.7;
    }

    .description {
      font-size: 1em;
    }

    .btn {
      font-size: 0.5em;
    }
  }
}
