.rf-color {

  &-field {
    color: #ffffff;
  }

  &-picker-holder {
    position: relative;

    & > .rf-color-picker {
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 100;
    }
  }
}
