
.rf-phone {

  & > &-field {

    & > .form-control {
      // NOTE "react-phone-input-2" does not inherit input styles at all force apply from bootstrap
      @extend .form-control;
      // NOTE offset for country flag
      padding-left: 54px;
    }
  }
}
